* {
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 25rem 1fr;
}

.leftPanel {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    border-right: 3px solid rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 600;
    position: fixed;
    width: 25rem;
}

.leftPanel .welcome {
    display: flex;
    gap: 1rem;
    
    margin-top: 4rem;
    font-size: 30px;
    font-weight: 600;
}

.leftPanel .welcomeMessage{
    font-size: 30px;
    font-weight: 400;
}

.leftPanel img {
    width: 40px;
    height: 40px;
}

.leftPanel > div {
    margin-left: 2rem;
}


.leftPanel .welcome img {
    width: 80px;
    height: 80px;
}

.leftPanel .projectPanel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.leftPanel .projectPanelHeaderButton {
    border: none;
    border-radius: 0.7rem;
    background: white;
    color: black;
    padding: 1rem 1.5rem;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.leftPanel .projectPanel .addProjectButton{
    border: none;
    background-color: black;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.leftPanel .projectPanel .addProjectButton img{
    fill: black;
    width: 100%;
    height: 100%;
}
.leftPanel .projectList{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 500px;
    padding-bottom: 1px;
    padding-top: 1px;
}

.leftPanel .projectList button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(180, 180,);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0.7rem;
    margin-top: 1rem;
    margin-right: 2rem;
    background: linear-gradient(to bottom right, #6fcdff, #33f59f);
    color: black;
    width: 20rem;
    height: min-content;
    padding: 1rem 1.5rem;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    transition: transform 0.2s ease-in-out;
    text-align: center;
    margin-left: 2rem;
    word-break: break-all;
}

.leftPanel .projectList button:hover{
    transform: scale(1.02);
}



.leftPanel .settingsOption{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 3rem;
    margin-top: 0.5rem;
}



.mainContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2 / 3;
}
.mainContent .pageHeading {
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    background: linear-gradient(to bottom right, #6fcdff, #33f59f);
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid rgb(0, 0, 0);
    text-align: center;
    overflow: hidden;
    word-break: break-all;
}

.newTodoButton{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 0.7rem;
    margin-top: 1rem;
    align-self: flex-end;
    margin-right: 2rem;
    background: linear-gradient(to bottom right, #6fcdff, #33f59f);
    color: black;
    width: 300px;
    padding: 1rem 1.5rem;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    cursor: pointer;
}

.todoPanel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 95%;
    margin-top: 1rem;
}
.todoItem{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    padding: 1rem 1.5rem;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.1em;
    color: rgb(255, 255, 255);
    background-color: #4dbdfa00;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    border-radius: 0.7rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.todoItem:hover {
    background-color: #ffffff;
    color: black;

}

.todoContainer{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #000000;
}

.priorityIconContainer{
    display: flex;
    justify-content: space-around;
    gap: 3px;
}
.priorityIconContainer > img{
    width: 20px;
}

.completeButton {
    border-left: none;
    display: flex;
    align-items: center;
    border-radius: 0.7rem;
    border: none;
    padding: 1rem 0.8rem;
    background-color: #000000;
}
 

.completeButton:hover {
    background-color: black;
    color: black;

}


.newProjectForm{
    grid-template-rows: 1fr 2fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 4fr;
    row-gap: 1rem;
    column-gap:1px; 
}

.newTodoForm{
    grid-template-rows: 1fr 1fr 2fr 1fr;
    grid-template-columns: 1fr 4fr;
}

form {
    box-sizing: border-box;
    background-color: #000000;
    border-radius: 1rem;
    width: 50rem;
    display: grid;
    row-gap: 1rem;
    column-gap:1px; 
    grid-template-rows: 1fr 2fr  1fr;
    grid-template-columns: 1fr 4fr;
    padding-left: 2rem;
    padding-right: 0;
    padding-bottom: 2rem;
    padding-top: 1rem;
    border: 5px solid #22d3ee;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
    max-width: 60rem;
    position: absolute;
    top: 10rem;
    color: white;
    border-image: linear-gradient(to bottom, #33f59f, #6fcdff) 1;
    position: fixed;
}
.formHeader{
    display: grid;
    grid-template-columns: 1fr 5rem;
    justify-content: center;
    grid-column: 1/ -1;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.formHeader .cancelButton{
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}
.formHeader .cancelButton:hover{
    transform: scale(1.03);
    cursor: pointer;
}
.formHeader > h3{
    justify-self: center;
    margin-left: 6rem;
}

form > h3{
    font-size: 30px;
    grid-column: 1 / -1;
}
form > label{
    grid-column: 1 / 2;
}
label{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

input {
    background-color: #FFFFFF;
    border: 2px solid #D6D9DC;
    border-radius: 3px;
    width: 90%;
    padding: 7px;
    font-size: 14px;
    box-sizing: border-box;
    outline-style: none;
    box-shadow: none;
    justify-self: start;
    border-image: linear-gradient(to bottom, #33f59f, #6fcdff) 1;
}
input:focus {
    border: 0.1rem solid #4997eb;
    box-shadow: 0 9px 10px -10px #888;
}
input:invalid {
    border: 0.1rem solid red;
}
input[type='text'] {
    max-width: 40rem;
}
input[type='number'] {
    max-width: 6rem;
}

input[type='checkbox'] {
    width: 4rem;
    height: 2rem;
    border: 2px solid #22d3ee;
}

form button{
    width: 100px;
    height: 60px;
    border-radius: 20px;
    background: #0f172a;
    color: white;
    border: 5px solid transparent;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    border-image: linear-gradient(to bottom, #33f59f, #6fcdff) 1;
}



.resetButton {
    justify-self: end;
    margin-right: 1rem;
}

.priorityLabel{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.prioritySelection {
    display: flex;
    gap: 3rem;
    
}
.prioritySelection  div{
    display: flex;
    gap: 1rem;
    /* border: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid white; */
    padding: 0.5rem;
}
.prioritySelection .priorityIconContainer{
    border: 2px solid white;
    border-radius:15px;
    padding: 0.5rem 1rem;
}

